@font-face {
    font-family: 'BadScript';
    src: local('DancingScript'),
        url('../fonts/BadScript-Regular.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: local('DancingScript'),
        url('../fonts/OpenSans-VariableFont_wdth,wght.ttf') format('truetype');
    font-weight: normal;
}
@font-face {
    font-family: 'OpenSans';
    src: local('DancingScript'),
        url('../fonts/OpenSans-Italic-VariableFont_wdth,wght.ttf')
            format('truetype');
    font-weight: normal;
    font-style: italic;
}

body {
    font-family: 'OpenSans', sans-serif;
    height: 100%;
}

*,
*::before,
*::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

img {
    border-style: none;
    display: block;
    max-width: 100%;
    height: auto;
}

button:hover,
button:focus,
input:hover,
input:focus {
    outline: none;
}

.visually-hidden {
    position: absolute;
    white-space: nowrap;
    width: 1px;
    height: 1px;
    overflow: hidden;
    border: 0;
    padding: 0;
    clip: rect(0 0 0 0);
    clip-path: inset(50%);
    margin: -1px;
}

a,
a:visited,
a:hover,
a:focus {
    text-decoration: none;
}

ul,
li {
    list-style: none;
}
